
/*
 * Timeline - for jQuery 1.3+
 * http://codecanyon.net/item/timetable-for-events-with-php-jquery-and-xml/546355?ref=RikdeVos
 *
 * Copyright 2012, Rik de Vos
 * You need to buy a license if you want use this script.
 * http://codecanyon.net/user/RikdeVos?ref=RikdeVos
 *
 * Version: 1.2 (Mar 15 2012)
 */

/* SELECTOR BAR */
	.tl_timeline .tl_time_selector_bar {
		background: #404040;
		color: #fff;
	}

	.tl_timeline .tl_time_selector_bar .tl_slidable_slider {
	    /* RGBa with .10 opacity */
	    background: rgba(0, 0, 0, .2);
	}

		.tl_timeline .tl_location .tl_the_location {
            background: #404040;
            color: #fff;
		}

			.tl_timeline .tl_location .tl_the_location h3 {
				color: #fff;
			}

			.tl_timeline .tl_location .tl_the_location p.tl_the_location_subtitle {
				color: #fff;
			}

/* INDICATOR BAR */
	.tl_timeline .tl_time_indicator {
		background: #000;
	}

    .tl_timeline .tl_time_indicator ul li {
        color: #fff;
    }
        /* EVENT */
		.tl_timeline .tl_event {
			background: #F47820;
			color: #000;

	        -moz-border-radius-topleft: 5px;
	        -moz-border-radius-topright:5px;
	        -webkit-border-top-left-radius:5px;
	        -webkit-border-top-right-radius:5px;
	        border-top-left-radius:5px;
	        border-top-right-radius:5px;


		}

			.tl_timeline .tl_event[data-info-showing=true] {
				background: #F47820;
			}

			.tl_timeline .tl_event[data-info-showing=true]:after {
				background: #F47820;
			}

		/* DETAILS OF EVENT */

		.tl_timeline .tl_event_details {
			border-top: 1px solid #d2d2d2;
			border-left: 1px solid #d2d2d2;
			background: #F47820;
			color: #000;

	        -moz-border-radius-bottomleft:20px;
	        -moz-border-radius-bottomright:20px;
	        -webkit-border-bottom-left-radius:20px;
	        -webkit-border-bottom-right-radius:20px;
	        border-bottom-left-radius:20px;
	        border-bottom-right-radius:20px;

		}
			.tl_timeline .tl_event .tl_event_time {
				color: #000;
				font-size: 9px;
			}

			.tl_timeline .tl_event h2 {
				font-size: 12px;
				font-weight: bold;
				color: #000;
			}

			.tl_timeline .tl_event p.tl_subtitle {
				font-size: 10px;
				font-weight: normal;
				color: #000;
			}

				.tl_timeline .tl_event_details .youtube img {
                	-moz-border-radius: 6px;
					-webkit-border-radius: 6px;
					border-radius: 6px;
			}

				.tl_timeline .tl_event_details .tl_event_image img {
                	-moz-border-radius: 6px;
					-webkit-border-radius: 6px;
					border-radius: 6px;
				}

/* INDICATOR */

.tl_timeline .tl_event_program_indicator.tl_active {
		background: #000;
		border: 1px solid #213840;
		width: 10px;
		height: 10px;
		top: 32px;
	}

	.tl_timeline .tl_program_button {
		border: 1px solid #000;
	}

	.tl_timeline .tl_program_button[data-val=true] {
		background: #000;
		color: #fff;
	}

	.tl_timeline .tl_program_button[data-val=false] {
		background: #000;
		color: #fff;
	}

	.tl_timeline .tl_link {
		color: #fff;
		background: #000;
		border: 1px solid #000;
	}

	.tl_timeline .tl_link:hover {
		background: #000;
	}
