
/*
 * Timeline - for jQuery 1.3+
 * http://codecanyon.net/item/timetable-for-events-with-php-jquery-and-xml/546355?ref=RikdeVos
 *
 * Copyright 2012, Rik de Vos
 * You need to buy a license if you want use this script.
 * http://codecanyon.net/user/RikdeVos?ref=RikdeVos
 *
 * Version: 1.2 (Mar 15 2012)
 */

/* SELECTOR BAR */
	.tl_timeline .tl_time_selector_bar {
		background: #FF0000;
		color: #fff;
	}

	.tl_timeline .tl_time_selector_bar .tl_slidable_slider {
	    /* RGBa with .10 opacity */
	    background: rgba(0, 0, 0, .2);
	}

/* INDICATOR BAR */
	.tl_timeline .tl_time_indicator {
		background: #000;
	}

    .tl_timeline .tl_time_indicator ul li {
        color: #fff;
    }
        /* EVENT */
			.tl_timeline .tl_event[data-info-showing=true] {
				background: #d2d2d2;
			}

			.tl_timeline .tl_event[data-info-showing=true]:after {
				background: #d2d2d2;
			}

		/* DETAILS OF EVENT */

		.tl_timeline .tl_event_details {
			border-top: 1px solid #d2d2d2;
			border-left: 1px solid #d2d2d2;
			background: #d2d2d2;
			color: #000;
		}

			.tl_timeline .tl_event .tl_event_time {
				color: #000;
				font-size: 9px;
			}

			.tl_timeline .tl_event h2 {
				font-size: 12px;
				font-weight: bold;
				color: #000;
			}

			.tl_timeline .tl_event p.tl_subtitle {
				font-size: 10px;
				font-weight: normal;
				color: #000;
			}
